extends /_templates/layout.pug

block content


    //- if self.films
    //-     main.grid_filmid
    //-         each val in self.films
    //-             section.card_film
    //-                 .container_frame_16_9
    //-                     img.container_contents_16_9(src='https://inscaping.eu/img/F_2_Malpaso.jpg' alt='Malpaso / Second slide')
    //-                 .card_film_title
    //-                     h3.film_title_locale= val.filmTitleEt
    //-                 if val.filmTitleEn
    //-                     .str_info_grid_3
    //-                         .str_info_label= self.label.film.filmTitle_en
    //-                         .str_info_value= val.filmTitleEn
    //-                 if val.filmDirector
    //-                     .str_info_grid_3
    //-                         .str_info_label= self.label.film.filmDirector
    //-                         .str_info_value= val.filmDirector
    //-                 if val.filmCast
    //-                     .str_info_grid_3
    //-                         .str_info_label= self.label.film.filmCast
    //-                         .str_info_value= val.filmCast



    main.home
        section.grid_hero
            .home_1
                .article_title_detailed.m_center_d_right
                    span.article_title_detailed.clr_primary
                        | 10. - 15. august
                    br
                    | Tartu Raekoja Plats
                    br
                    | Athena Keskus
                    br
                    | Elisa Stage
            .home_2
                img.home_hero_img(src='assets/img/global/hunt_dark.png' alt='Tartuff 2020')
            .home_3
                .hero_p
                    p
                        | Juba 15. korda muutub Tartu Raekoja plats Eesti suurimaks vabaõhukinoks, kui augusti teisel nädalal jõuab sealsele väliekraanile 11 armastusest kõnelevat filmi.
                    p
                        | Peale selle avab PÖFFi armastusfilmide festival Tartuff esimest korda ka virtuaalse kinosaali, mida saab külastada üle kogu Eesti.
                    p
                        | Filmid jõuavad publikuni telekommunikatsiooniettevõtte Elisa veebiplatvormi Elisa Stage vahendusel, mis kandis üle ka Haapsalu õudus- ja fantaasiafilmide festivali.
                    p
                        | Traditsiooniliselt saab kõiki Tartus ekraanile jõudvaid filme vaadata tasuta, virtuaalsetele seanssidele tuleb osta pilet.

        section.calendar
            .calendar_day
                .calendar_day_head
                    | Esmaspäev, 10. august
                .calendar_day_body
                    .clr_white_semi.caps
                        | Raekoja plats
                    | 22:00&nbsp;&nbsp;&nbsp;Festivali avamine
                    br
                    | 22:45&nbsp;&nbsp;&nbsp;Nähtamatu elu
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e
            .calendar_day
                .calendar_day_head
                    | Teisipäev, 11. august
                .calendar_day_body
                    .clr_white_semi.caps
                        | Raekoja plats
                    | 22:00&nbsp;&nbsp;&nbsp;Täiuslik
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e
                    br
                    | 23:59&nbsp;&nbsp;&nbsp;Hüvasti
            .calendar_day
                .calendar_day_head
                    | Kolmapäev, 12. august
                .calendar_day_body
                    .clr_white_semi.caps
                        | Athena Keskus
                    | 16:00&nbsp;&nbsp;&nbsp;Tagaotsitav, Banksy
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e
                    br
                    | 20:00&nbsp;&nbsp;&nbsp;Acasa, mu kodu
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e
                    br
                    br
                    .clr_white_semi.caps
                        | Raekoja plats
                    | 22:00&nbsp;&nbsp;&nbsp;Õnnejumalanna
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e
                    br
                    | 00:15&nbsp;&nbsp;&nbsp;Skeemitajad
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e
            .calendar_day
                .calendar_day_head
                    | Neljapäev, 13. august
                .calendar_day_body
                    .clr_white_semi.caps
                        | Athena Keskus
                    | 16:00&nbsp;&nbsp;&nbsp;Lammas all paremas nurgas
                    br
                    | 19:00&nbsp;&nbsp;&nbsp;Autoportree
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e
                    br
                    br
                    .clr_white_semi.caps
                        | Raekoja plats
                    | 22:00&nbsp;&nbsp;&nbsp;Tšempionid
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e
                    br
                    | 23:59&nbsp;&nbsp;&nbsp;Yalda, andestuse öö
            .calendar_day
                .calendar_day_head
                    | Reede, 14. august
                .calendar_day_body
                    .clr_white_semi.caps
                        | Athena Keskus
                    | 16:00&nbsp;&nbsp;&nbsp;Tormipoiss
                    br
                    | 19:00&nbsp;&nbsp;&nbsp;Marcel Duchamp ja võimalikkuse kunst
                    br
                    br
                    .clr_white_semi.caps
                        | Raekoja plats
                    | 22:00&nbsp;&nbsp;&nbsp;Harjumuse jõud
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e
                    br
                    | 23:45&nbsp;&nbsp;&nbsp;Hape
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e
            .calendar_day
                .calendar_day_head
                    | Laupäev, 15. august
                .calendar_day_body
                    .clr_white_semi.caps
                        | Raekoja plats
                    | 21:45&nbsp;&nbsp;&nbsp;Festivali lõpetamine
                    br
                    | 22:00&nbsp;&nbsp;&nbsp;Viimane portree
                    br
                    | 23:59&nbsp;&nbsp;&nbsp;Maudie

        section.calendar_e
            span.font_h.clr_elisa_stage
                | e
            span.clr_white_96
                | &nbsp;-&nbsp;filmi saab vaadata ka Elisa veebiplatvormil Elisa Stage



