extends /_templates/layout.pug
include /_templates/mixins.pug

block content


    //- if self.films
    //-     main.grid_filmid
    //-         each val in self.films
    //-             section.card_film
    //-                 .container_frame_16_9
    //-                     img.container_contents_16_9(src='https://inscaping.eu/img/F_2_Malpaso.jpg' alt='Malpaso / Second slide')
    //-                 .card_film_title
    //-                     h3.film_title_locale= val.filmTitleEt
    //-                 if val.filmTitleEn
    //-                     .str_info_grid_3
    //-                         .str_info_label= self.label.film.filmTitle_en
    //-                         .str_info_value= val.filmTitleEn
    //-                 if val.filmDirector
    //-                     .str_info_grid_3
    //-                         .str_info_label= self.label.film.filmDirector
    //-                         .str_info_value= val.filmDirector
    //-                 if val.filmCast
    //-                     .str_info_grid_3
    //-                         .str_info_label= self.label.film.filmCast
    //-                         .str_info_value= val.filmCast



    main.home
        section.grid_hero
            .home_1
                .article_title_detailed.m_center_d_right
                    span.article_title_detailed.clr_primary= self.festivalDates
                    br
                    span
                        +format(self.festivalLocations)
                    br
                    a.article_title_detailed.clr_primary(href='https://tartuff.elisastage.ee')= self.virtualLocation

                    //- span.article_title_detailed.clr_primary 10. - 15. august
                    //- br
                    //- | Tartu Raekoja Plats
                    //- br
                    //- | Athena Keskus
                    //- br
                    //- a.article_title_detailed.clr_primary(href='https://tartuff.elisastage.ee')
                    //-     | Elisa Stage
            .home_2
                img.home_hero_img(src='/assets/img/global/hunt_dark.png' alt='Tartuff 2020')
            .home_3
                .hero_p
                    - var frontpageText = self.frontpageText
                    | !{ self.md(frontpageText)}

        //- FILMS / SCREENINGS calendar
        div
                h1.section_headline_footer
                    | Seansside kalender

        section.calendar
            .calendar_day
                .calendar_day_head Esmaspäev, 10. august
                .calendar_day_body
                    .clr_white_semi.caps Raekoja plats
                    | 22:00&nbsp;&nbsp;&nbsp;Festivali avamine
                    br
                    | 22:45&nbsp;&nbsp;&nbsp;
                    a(href='https://tartuff.ee/invisible-life-of-eurdice-gusmo/')
                        | Nähtamatu elu
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e

            .calendar_day
                .calendar_day_head Teisipäev, 11. august
                .calendar_day_body
                    .clr_white_semi.caps
                        | Raekoja plats
                    | 22:00&nbsp;&nbsp;&nbsp;
                    a(href='https://tartuff.ee/flawless/')
                        | Täiuslik
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e
                    br
                    | 23:59&nbsp;&nbsp;&nbsp;
                    a(href='https://tartuff.ee/house-of-hummingbird/')
                        | Hüvasti
            .calendar_day
                .calendar_day_head Kolmapäev, 12. august
                .calendar_day_body

                    .clr_white_semi.caps
                        | Athena Keskus
                    | 16:00&nbsp;&nbsp;&nbsp;
                    a(href='https://tartuff.ee/banksy-most-wanted')
                        | Tagaotsitav, Banksy
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e
                    br
                    | 20:00&nbsp;&nbsp;&nbsp;
                    a(href='https://tartuff.ee/acas-my-home')
                        | Acasa, mu kodu
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e
                    br
                    br
                    .clr_white_semi.caps
                        | Raekoja plats
                    | 22:00&nbsp;&nbsp;&nbsp;
                    a(href='https://tartuff.ee/the-goddess-of-fortune')
                        | Õnnejumalanna
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e
                    br
                    | 00:15&nbsp;&nbsp;&nbsp;
                    a(href='https://tartuff.ee/schemers')
                        | Skeemitajad
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e
            .calendar_day
                .calendar_day_head Neljapäev, 13. august
                .calendar_day_body

                    .clr_white_semi.caps
                        | Athena Keskus
                    | 16:00&nbsp;&nbsp;&nbsp;
                    a(href='https://tartuff.ee/the-secret-lamb')
                        | Lammas all paremas nurgas
                    br
                    | 19:00&nbsp;&nbsp;&nbsp;
                    a(href='https://tartuff.ee/self-portrait')
                        | Autoportree
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e
                    br
                    br
                    .clr_white_semi.caps
                        | Raekoja plats
                    | 22:00&nbsp;&nbsp;&nbsp;
                    a(href='https://tartuff.ee/champions')
                        | Tšempionid
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e
                    br
                    | 23:59&nbsp;&nbsp;&nbsp;
                    a(href='https://tartuff.ee/yalda-a-night-for-forgiveness/')
                        | Yalda, andestuse öö
            .calendar_day
                .calendar_day_head Reede, 14. august
                .calendar_day_body
                    .clr_white_semi.caps
                        | Athena Keskus
                    | 16:00&nbsp;&nbsp;&nbsp;
                    a(href='https://tartuff.ee/storm-boy/')
                        | Tormipoiss
                    br
                    | 19:00&nbsp;&nbsp;&nbsp;
                    a(href='https://tartuff.ee/marcel-duchamp-art-of-the-possible/')
                        | Marcel Duchamp ja võimalikkuse kunst
                    br
                    br
                    .clr_white_semi.caps
                        | Raekoja plats
                    | 22:00&nbsp;&nbsp;&nbsp;
                    a(href='https://tartuff.ee/force-of-habit/')
                        | Harjumuse jõud
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e
                    br
                    | 23:45&nbsp;&nbsp;&nbsp;
                    a(href='https://tartuff.ee/acid/')
                        | Hape
                    span.clr_elisa_stage
                        | &nbsp; &nbsp;e
            .calendar_day
                .calendar_day_head Laupäev, 15. august
                .calendar_day_body
                    .clr_white_semi.caps Raekoja plats
                    | 21:45&nbsp;&nbsp;&nbsp;Festivali lõpetamine
                    br
                    | 22:00&nbsp;&nbsp;&nbsp;
                    a(href='https://tartuff.ee/final-portrait/')
                        | Viimane portree
                    br
                    | 23:59&nbsp;&nbsp;&nbsp;
                    a(href='https://tartuff.ee/maudie/')
                        | Maudie

        section.calendar_e
            span.font_h.clr_elisa_stage e
            span.clr_white_96 &nbsp;-&nbsp;filmi saab vaadata ka Elisa veebiplatvormil Elisa Stage


        //- EVENTS calendar
        div
                h1.section_headline_footer
                    | Ürituste kalender

        section.calendar
            .calendar_day
                .calendar_day_head
                    | Esmaspäev, 10. august
                .calendar_day_body
                    .clr_white_semi.caps
                        | Raekoja plats
                    | 22:00&nbsp;&nbsp;&nbsp;Festivali avamine ja Maarja Nuut & Ruum kontsert


            .calendar_day
                .calendar_day_head
                    | Teisipäev, 11. august
                .calendar_day_body
                    .clr_white_semi.caps
                        | Tartu linnaruum
                    | Stencibility esitleb: Stina Leeki tänavakunstiaktsioon
                    br
                    br
                    .clr_white_semi.caps
                        | ERM
                    | 12:00&nbsp;&nbsp;&nbsp;ERMi lasteprogramm
                    br
                    | 14:00&nbsp;&nbsp;&nbsp;ERMi filmiprogramm lastele
                    br
                    br
                    .clr_white_semi
                        | Pepe's Bistro & tARTuFF Social Club
                    | 14:00&nbsp;&nbsp;&nbsp;Armastuse mälumäng
                    br
                    | 19:00&nbsp;&nbsp;&nbsp;Miré akustilise muusika live
                    br
                    br
                    .clr_white_semi.caps
                        | Kaseke
                    | 16:00&nbsp;&nbsp;&nbsp;Tänavakultuuri tuur jalgratastel
                    br
                    br
                    .clr_white_semi.caps
                        | Kroonuaia 68
                    | 18:00&nbsp;&nbsp;&nbsp;Tartuff »--♥-> Voronja: Kadri Kosk

            .calendar_day
                .calendar_day_head
                    | Kolmapäev, 12. august
                .calendar_day_body
                    .clr_white_semi.caps
                        | Tartu linnaruum
                    | Stencibility esitleb: Stina Leeki tänavakunstiaktsioon
                    br
                    br
                    .clr_white_semi.caps
                        | ERM
                    | 12:00&nbsp;&nbsp;&nbsp;ERMi lasteprogramm
                    br
                    | 14:00&nbsp;&nbsp;&nbsp;ERMi filmiprogramm lastele
                    br
                    br
                    .clr_white_semi
                        | Pepe's Bistro & tARTuFF Social Club
                    | 14:00&nbsp;&nbsp;&nbsp;Armastuse mälumäng
                    br
                    | 15:00&nbsp;&nbsp;&nbsp;Vestlus filmikunstniku Katrin Sipelgaga
                    br
                    | 19:00&nbsp;&nbsp;&nbsp;Forrest Kämp live
                    br
                    br
                    .clr_white_semi.caps
                        | Kaseke
                    | 19:00&nbsp;&nbsp;&nbsp;Tänavakultuuri tuur jalgratastel

            .calendar_day
                .calendar_day_head
                    | Neljapäev, 13. august
                .calendar_day_body
                    .clr_white_semi.caps
                        | Sisevete saatkond
                    | 10:00&nbsp;&nbsp;&nbsp;Hommikupiknik ja lodjasõit koos filmirežissööride Jaan Tootseni ja Joosep Matjusega
                    br
                    br
                    .clr_white_semi.caps
                        | ERM
                    | 12:00&nbsp;&nbsp;&nbsp;ERMi lasteprogramm
                    br
                    | 14:00&nbsp;&nbsp;&nbsp;ERMi filmiprogramm lastele
                    br
                    br
                    .clr_white_semi
                        | Pepe's Bistro & tARTuFF Social Club
                    | 14:00&nbsp;&nbsp;&nbsp;Armastuse mälumäng
                    br
                    | 17:00&nbsp;&nbsp;&nbsp;Filmiviktoriin
                    br
                    | 19:00&nbsp;&nbsp;&nbsp;DJ Martin Sõgeli & Mikk Valtna vinüülivalik
                    br
                    br
                    .clr_white_semi.caps
                        | Tartu Kunstimuuseum
                    | 18:00&nbsp;&nbsp;&nbsp;Näituse „Vaikiv“ kuraatorite Jevgeni Zolotko ja Eero Epneri vestlus
                    br
                    br
                    .clr_white_semi.caps
                        | Voronja Galerii, Varnja, Kesk 27
                    | 18:00&nbsp;&nbsp;&nbsp;Tartuff »--♥-> Voronja: Robert ja Anti Jürjendal
                    br
                    a(href='https://fienta.com/et/tartuff-voronja')
                        | (Piletid siit)


            .calendar_day
                .calendar_day_head
                    | Reede, 14. august
                .calendar_day_body
                    .clr_white_semi.caps
                        | Tartu Kunstimuuseum
                    | 11:00&nbsp;&nbsp;&nbsp;Rahvusvaheline sümpoosion "Fotograafia retušeerimata ajalugu"
                    br
                    br
                    .clr_white_semi.caps
                        | ERM
                    | 12:00&nbsp;&nbsp;&nbsp;ERMi lasteprogramm
                    br
                    | 14:00&nbsp;&nbsp;&nbsp;ERMi filmiprogramm lastele
                    br
                    br
                    .clr_white_semi
                        | Pepe's Bistro & tARTuFF Social Club
                    | 16:00&nbsp;&nbsp;&nbsp;Vestlus Soome näitlejanna Suvi Blickiga
                    br
                    | 17:00&nbsp;&nbsp;&nbsp;Loomingu Raamatukogu esitleb: Milan Kundera "Veidrad armastuslood"
                    br
                    | 19:00&nbsp;&nbsp;&nbsp;DJ Ahto Külveti & Psühhoteegi vinüülivalik filmimuusikast

            .calendar_day
                .calendar_day_head
                    | Laupäev, 15. august
                .calendar_day_body
                    .clr_white_semi.caps
                        | ERM
                    | Muinastujutuline perepäev
                    br
                    | 10:00 - 16:00&nbsp;&nbsp;&nbsp;Ponisõit, sõit hobikaarikul (5€)
                    br
                    | 12:00 - 15:00&nbsp;&nbsp;&nbsp;Näomaalingud (tasuta)
                    br
                    | 12:00&nbsp;&nbsp;&nbsp;Töötoad
                    br
                    | 13:00&nbsp;&nbsp;&nbsp;etendus "Kulda väärt"“" Miku-Manni näitetrupi esituses
                    br
                    | 14:00&nbsp;&nbsp;&nbsp;Giidituur muinasjutunäitusel "Elas kord..."
                    br
                    br
                    .clr_white_semi.caps
                        | Tartu Loomemajanduskeskus
                    | 12:00&nbsp;&nbsp;&nbsp;"Loodus ekraanil" töötuba Jaan Tootseni filmist "Fred Jüssi. Olemise ilu"
                    br
                    | 14:00&nbsp;&nbsp;&nbsp;Eesti Dokumentalistide Gild esitleb: vestlus kujutavast kunstist eesti kaasaegses dokumentalistikas
                    br
                    br
                    .clr_white_semi
                        | Raekoja Plats
                    | 21:45&nbsp;&nbsp;&nbsp;Festivali lõpetamine
                    br
                    br
                    .clr_white_semi
                        | GenKlubi
                    | 23:00&nbsp;&nbsp;&nbsp;Vikerhunt
