header
            //- nav.lang-menu
            //-     each p, locale in self.otherLocalePaths
            //-         a(href=(p !== '/' ? p + '/' : '/'))= locale.toUpperCase()
            .logo
                //- Defining locale path for multilingual support
                - lang_path = self.root
                a(href=`${lang_path}`)
                    img.logo_img(alt='PÖFF' data-src='/assets/img/global/tartuff_logo_white.svg' src='/assets/img/global/tartuff_logo_white_red.svg')
            input#main_menu_toggle.main_menu_toggle(type='checkbox')

            nav.main_menu
                p= self.root
                ul
                    each nav in self.navigation
                        li
                            a(href=`${lang_path}${nav.url}`)= nav.title

                    li
                        nav.lang_menu
                            //- | prefiks&nbsp;
                            //- .clr_primary= self.label.film.languageSelect + 'rr'
                            each p, locale in self.otherLocalePaths
                                span.clr_white_semi= self.label.film.languageSelect + ':  '
                                a(href=(p !== '/' ? p + '/' : '/'))= locale

                                //- a(href=(p !== '/' ? p + '/' : '/'))= locale.toUpperCase()

            label.main_menu_toggle_label(for='main_menu_toggle')
                span


