mixin youtube(videoId)
    iframe(width='560', height='315', src='https://www.youtube.com/embed/'+videoId,
        frameborder='0', allow='accelerometer', autoplay;='', encrypted-media;='',
        gyroscope;='', picture-in-picture”='', allowfullscreen='')

mixin localdatetime(dateString)
    - var dom_id = Math.random()
    div(id = 'dt_' + dom_id)

    script.
        (function()
        {
            var eDisplayMoment1 = document.getElementById('dt_' + '#{dom_id}');
            var NowMoment1 = moment('#{dateString}').format('L LT');
            eDisplayMoment1.innerHTML = NowMoment1;
        })();
