extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    //- section.grid_article
    //-     section.article_hero_head
    //-         img(src=`/assets/img/global/tartuff_2019_ohust_1.jpg`).article_hero_image
    //-         .article_hero_headline_box
    //-             .article_title_detailed
    //-                 | Tartuffi külastaja meelespea 2020

    section.festival
        h1.section_headline_footer
            | Festivali meeskond

    section.team

        .person
            .person_head
                img.person_img(src='https://poff.ee/2019WP/wp-content/themes/yootheme/cache/TiinaLokk-96cf7bd9.jpeg' alt='Tiina Lokk')
            .person_body
                h4
                    | Tiina Lokk
                p
                    | Festivali direktor

        .person
            .person_head
                img.person_img(src='https://poff.ee/2019WP/wp-content/themes/yootheme/cache/MikkGranstrom-9d91bcda.jpeg' alt='Mikk Granström')
            .person_body
                h4
                    | Mikk Granström
                p
                    | Festivali tegevjuht
                    br
                    | Programmi koostaja

        .person
            .person_head
                img.person_img(src='/assets/img/global/Kristiina_R_tartuff.jpg' alt='Kristiina Reidolv')
            .person_body
                h4
                    | Kristiina Reidolv
                p
                    | Festivali juht
                    br
                    | Üritused
                    br
                    | Majutus

        .person
            .person_head
                img.person_img(src='https://poff.ee/2019WP/wp-content/themes/yootheme/cache/DagmarRaudam-e050387d.jpeg' alt='Dagmar Raudam')
            .person_body
                h4
                    | Dagmar Raudam
                p
                    | Filmiprogrammi juht
                    br
                    | Külalised

        .person
            .person_head
                img.person_img(src='https://poff.ee/2019WP/wp-content/themes/yootheme/cache/TiitTuumalu-a9334848.jpeg' alt='Tiit Tuumalu')
            .person_body
                h4
                    | Tiit Tuumalu
                p
                    | Filmiprogrammi koostaja
                    br
                    | Kommunikatsioon

        .person
            .person_head
                img.person_img(src='https://poff.ee/2019WP/wp-content/themes/yootheme/cache/HelmutJanes-fa10fc27.jpeg' alt='Helmut Jänes')
            .person_body
                h4
                    | Helmut Jänes
                p
                    | Filmiprogrammi koostaja

        .person
            .person_head
                img.person_img(src='https://poff.ee/2019WP/wp-content/themes/yootheme/cache/Hanna-GrethPeetson-de80ed5c.jpeg' alt='Hanna-Greth Peetson')
            .person_body
                h4
                    | Hanna-Greth Peetson
                p
                    | Filmide õigused

        .person
            .person_head
                img.person_img(src='https://poff.ee/2019WP/wp-content/themes/yootheme/cache/JFMaaritMannama-d9bd6fc6.jpeg' alt='Maarit Männama')
            .person_body
                h4
                    | Maarit Männama
                p
                    | Filmide õigused

        .person
            .person_head
                img.person_img(src='https://poff.ee/2019WP/wp-content/themes/yootheme/cache/HeinrichSepp-8ec6f6a9.jpeg' alt='Heinrich Sepp')
            .person_body
                h4
                    | Heinrich Sepp
                p
                    | Turundus
                    br
                    | Üritused
                    br
                    | Majutus

        .person
            .person_head
                img.person_img(src='/assets/img/global/ingakoppel_tartuff.jpg' alt='Inga Koppel')
            .person_body
                h4
                    | Inga Koppel
                p
                    | Üritused

        .person
            .person_head
                img.person_img(src='https://poff.ee/2019WP/wp-content/themes/yootheme/cache/HannesAava-26f94a4c.jpeg' alt='Hannes Aava')
            .person_body
                h4
                    | Hannes Aava
                p
                    | Kommunikatsioon

        .person
            .person_head
                img.person_img(src='https://poff.ee/2019WP/wp-content/themes/yootheme/cache/RasmusPuksmann-e62bff90.jpeg' alt='Rasmus Puksmann')
            .person_body
                h4
                    | Rasmus Puksmann
                p
                    | Tehnika

        .person
            .person_head
                img.person_img(src='https://poff.ee/2019WP/wp-content/themes/yootheme/cache/TiiuKraut-b2f42205.jpeg' alt='Tiiu Marie Kraut')
            .person_body
                h4
                    | Tiiu Marie Kraut
                p
                    | Tõlked

        .person
            .person_head
                img.person_img(src='/assets/img/global/hunt_person.png' alt='Drive In Cinema')
            .person_body
                h4
                    | Drive In Cinema
                p
                    | Videoprojektsioon

        .person
            .person_head
                img.person_img(src='/assets/img/global/hunt_person.png' alt='Tartu Elektriteater')
            .person_body
                h4
                    | Tartu Elektriteater
                p
                    | Videoprojektsioon

        .person
            .person_head
                img.person_img(src='https://poff.ee/2019WP/wp-content/themes/yootheme/cache/SiimVahter-c52d4185.jpeg' alt='Siim Vahter')
            .person_body
                h4
                    | Siim Vahter
                p
                    | Logistika

        .person
            .person_head
                img.person_img(src='/assets/img/global/hunt_person.png' alt='Taavi Toom')
            .person_body
                h4
                    | Taavi Toom
                p
                    | Q&A

        .person
            .person_head
                img.person_img(src='https://poff.ee/2019WP/wp-content/themes/yootheme/cache/LiisiRohumae-c99d72c9.jpeg' alt='Liisi Rohumäe')
            .person_body
                h4
                    | Liisi Rohumäe
                p
                    | Q&A

        .person
            .person_head
                img.person_img(src='/assets/img/global/hunt_person.png' alt='Kadri Lind')
            .person_body
                h4
                    | Kadri Lind
                p
                    | Q&A

        .person
            .person_head
                img.person_img(src='/assets/img/global/hunt_person.png' alt='Anett Tõnismäe')
            .person_body
                h4
                    | Anett Tõnismäe
                p
                    | Visuaalne identiteet

        .person
            .person_head
                img.person_img(src='/assets/img/global/hunt_person.png' alt='Emilia Valgiste')
            .person_body
                h4
                    | Emilia Valgiste
                p
                    | Visuaalne identiteet

        .person
            .person_head
                img.person_img(src='/assets/img/global/hunt_person.png' alt='Carmen Kurg')
            .person_body
                h4
                    | Carmen Kurg
                p
                    | Fotograaf

        .person
            .person_head
                img.person_img(src='/assets/img/global/hunt_person.png' alt='Agnes Müürsepp')
            .person_body
                h4
                    | Agnes Müürsepp
                p
                    | Fotograaf




