extends /_templates/layout.pug

block content

    main.grid_filmid
        section.card_film
            .carousel-inner.container_frame_16_9
                img.container_contents_16_9(src='https://inscaping.eu/img/F_2_Malpaso.jpg' alt='Malpaso / Second slide')
            .card_film_title
                h3.film_title_locale
                    | Marcel Duchamp ja võimalikkuse kunst
            .str_info_grid_3
                .str_info_label
                    | Ingliskeelne pealkiri
                .str_info_value
                    | Marcel Duchamp: The Art of Possible
            .str_info_grid_3
                .str_info_label
                    | Festivali programm
                .str_info_value_program
                    | Tartuff Kunst
            .str_info_grid_3
                .str_info_label
                    | Filmi zhanr
                .str_info_value_genre
                    | Dokumentaalfilm
            .str_info_grid_3
                .str_info_label
                    | Märksõnad
                .str_info_value_keywords
                    | #kunst #võimalikkus
        section.card_film
            .carousel-inner.container_frame_16_9
                img.container_contents_16_9(src='https://inscaping.eu/img/F_2_Malpaso.jpg' alt='Malpaso / Second slide')
            .card_film_title
                h3.film_title_locale
                    | Marcel Duchamp ja võimalikkuse kunst
            .str_info_grid_3
                .str_info_label
                    | Ingliskeelne pealkiri
                .str_info_value
                    | Marcel Duchamp: The Art of Possible
            .str_info_grid_3
                .str_info_label
                    | Festivali programm
                .str_info_value_program
                    | Tartuff Kunst
            .str_info_grid_3
                .str_info_label
                    | Filmi zhanr
                .str_info_value_genre
                    | Dokumentaalfilm
            .str_info_grid_3
                .str_info_label
                    | Märksõnad
                .str_info_value_keywords
                    | #kunst #võimalikkus
        section.card_film
            .carousel-inner.container_frame_16_9
                img.container_contents_16_9(src='https://inscaping.eu/img/F_2_Malpaso.jpg' alt='Malpaso / Second slide')
            .card_film_title
                h3.film_title_locale
                    | Marcel Duchamp ja võimalikkuse kunst
            .str_info_grid_3
                .str_info_label
                    | Ingliskeelne pealkiri
                .str_info_value
                    | Marcel Duchamp: The Art of Possible
            .str_info_grid_3
                .str_info_label
                    | Festivali programm
                .str_info_value_program
                    | Tartuff Kunst
            .str_info_grid_3
                .str_info_label
                    | Filmi zhanr
                .str_info_value_genre
                    | Dokumentaalfilm
            .str_info_grid_3
                .str_info_label
                    | Märksõnad
                .str_info_value_keywords
                    | #kunst #võimalikkus
        section.card_film
            .carousel-inner.container_frame_16_9
                img.container_contents_16_9(src='https://inscaping.eu/img/F_2_Malpaso.jpg' alt='Malpaso / Second slide')
            .card_film_title
                h3.film_title_locale
                    | Marcel Duchamp ja võimalikkuse kunst
            .str_info_grid_3
                .str_info_label
                    | Ingliskeelne pealkiri
                .str_info_value
                    | Marcel Duchamp: The Art of Possible
            .str_info_grid_3
                .str_info_label
                    | Festivali programm
                .str_info_value_program
                    | Tartuff Kunst
            .str_info_grid_3
                .str_info_label
                    | Filmi zhanr
                .str_info_value_genre
                    | Dokumentaalfilm
            .str_info_grid_3
                .str_info_label
                    | Märksõnad
                .str_info_value_keywords
                    | #kunst #võimalikkus
